.game-with-controls {
    width: 100vw;
    height: 100vh;
    display: flex;

    .controls {
        width: 20%;
        height: 100%;
    }

    .game {
        width: 80%;
        height: 100%;
    }
}
